/* You can add global styles to this file, and also import other style files */
:root {
  --theme-colors-primary: #b3d7ff;
  --theme-colors-header: #dddddd;
  --theme-colors-border: #dddddd;
  --theme-colors-footer: #f9f9f9;
  --theme-colors-active: #777777;
  --theme-colors-inactive: #bbbbbb;
  --theme-colors-shadow: #dddddd;
  --theme-colors-background: #ffffff;

  --theme-background-gradient-begin: #ffffff;
  --theme-background-gradient-end: #dddddd;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}